<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>펀딩 게시글 작성</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- TUI 에디터 JS CDN -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <style>
        .form-container {
            max-width: 1300px;
            margin: 0 auto;
            /*padding: 20px;*/
        }

        .file_input_container {
            display: flex;
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
        }


        .file_input_img_btn {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 5px;
        }

        .file_input_hidden {
            font-size: 109px;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }

        .image {
            max-width: 100%; /* 이미지가 너무 큰 경우 자동으로 크기 조정 */
            margin-right: 10px; /* 이미지 사이 간격 조정 */
        }

        .CategoryBoxstyle {
            max-height: 150px;
            overflow-y: auto;
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
        }

        .CategoryBox-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .CategoryBox-item {
            margin: 5px 0;
        }

        .CategoryBox-item button {
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }


        .CategoryBox-item button.active {
            background: none;
            border: 6px solid #ff0026; /* 활성 탭의 색상 */
        }
    </style>
</head>
<body>
<header th:replace="~{common/header/header.html :: commonheader}"></header>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1" style="font-size: 27px;">기본정보 &nbsp;&nbsp;&nbsp;<span style="font-size: 16px; color: red">*필수항목</span></h2>
        </div>
    </div>
    <hr class="featurette-divider" style="border-color: black; border-width: 2px;">
    <div class="album py-7 bg-white">
        <div class="form-container">
            <form id="createForm" action="/funding/create" method="POST">
                <div class="mb-4 d-flex text-body-secondary pt-3">
                    <div>
                        <p style="font-size: 17px;">썸네일 등록<span style="font-size: 16px; color: red">*</span></p>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div class="ml-3 flex-grow-1">
                        <div class="d-flex align-items-start">
                            <div class="file_input_container">
                                <img src="/icon/imageupload.png" class="file_input_img_btn" alt="image" style="width: 200px; height: 200px;"/>
                                <input type="file" id="thumbnail" name="thumbnail" class="file_input_hidden"  onchange="javascript: document.getElementById('fileName').value = this.value"/>
                                <input type="hidden" id="fileName" name="fileName">
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class="ml-3 file_input_preview">
                                <img id="previewImage" src="" alt="thumbnail Preview" style="width: 200px; height: 200px; display: none;">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mb-5 d-flex text-body-secondary pt-5" style="border-top: 1px solid #efefef;">
                    <div>
                        <p style="font-size: 17px;">제목<span style="font-size: 16px; color: red">*</span></p>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="ml-3 flex-grow-1">
                        <input type="text" id="title" name="title" class="form-control" style="width: 100%;" placeholder="펀딩 이름을 입력해주세요." required>
                    </div>
                </div>

                <div class="mb-5 d-flex text-body-secondary pt-5" style="border-top: 1px solid #efefef;">
                    <div>
                        <p style="font-size: 17px;">부제목<span style="font-size: 16px; color: red">*</span></p>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div class="ml-3 flex-grow-1">
                        <input type="text" id="subtitle" name="subtitle" class="form-control" placeholder="펀딩 부제목을 입력해주세요." required>
                    </div>
                </div>


                <div class="mb-5 text-body-secondary pt-5" style="border-top: 1px solid #efefef;">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="category" class="form-label">
                                카테고리<span style="font-size: 16px; color: red">*</span>
                            </label>
                            <input type="hidden" id="category" name="category">
                            &nbsp;&nbsp;&nbsp;
                            <div class="CategoryBoxstyle" style="max-height: 400px; background-color: #ffffff; overflow-y: auto;">
                                <ul class="CategoryBox-list">
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="1" style="background-color: #efda70">운동&Life</button>
                                    </li>
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="2" style="background-color: #238cf3">경제&금융</button>
                                    </li>
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="3" style="background-color: #61e761">n잡&부업</button>
                                    </li>
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="4" style="background-color: #ef6347">커리어</button>
                                    </li>
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="5" style="background-color: #8b56f6">언어</button>
                                    </li>
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="6" style="background-color: #f566f5">프로그래밍</button>
                                    </li>
                                    <li class="CategoryBox-item">
                                        <button type="button" class="category-button" data-category-id="7" style="background-color: #95989b">비지니스마케팅</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-md-5">
                            <label for="location" class="form-label">
                                강의실 위치&nbsp;&nbsp;&nbsp;<span style="font-size: 12px;">미입력시 온라인 강의로 간주됩니다.</span>
                            </label>
                            <input type="hidden" id="location" name="location">
                            &nbsp;<button id="addressButton" class="btn btn-sm btn-outline-secondary" onclick="openDaumPostcode()" type="button">주소 입력</button>
                            <!-- 지도를 표시할 div 요소 -->
                            <div id="map" style="width: 100%; height: 300px;"></div>
                        </div>
                    </div>
                </div>


                <div class="mb-5 text-body-secondary pt-5" style="border-top: 1px solid #efefef;">
                    <label for="amount" class="form-label">
                        금액<span style="font-size: 16px; color: red">*</span>
                    </label>
                    <input type="number" id="amount" name="amount" class="form-control" placeholder="원" required>
                </div>

                <div class="mb-5 text-body-secondary pt-5" style="border-top: 1px solid #efefef; max-height: 200px; overflow-y: auto;">
                    <label for="deadline" class="form-label">
                        마감날짜<span style="font-size: 16px; color: red">*</span>
                    </label>
                    <input type="date" id="deadline" name="deadline" class="form-control" required>
                </div>


                <div class="mb-5 text-body-secondary pt-5" style="border-top: 1px solid #efefef;">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="GoalParticipants" class="form-label">
                                목표인원<span style="font-size: 16px; color: red">*</span>
                            </label>
                            <input type="number" id="GoalParticipants" name="GoalParticipants" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label for="MinParticipants" class="form-label">
                                최소인원<span style="font-size: 16px; color: red">*</span>
                            </label>
                            <input type="number" id="MinParticipants" name="MinParticipants" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label for="MaxParticipants" class="form-label">
                                최대인원<span style="font-size: 16px; color: red">*</span>
                            </label>
                            <input type="number" id="MaxParticipants" name="MaxParticipants" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="mb-5 text-body-secondary pt-5" style="border-top: 1px solid #efefef;">
                    <label for="content" class="form-label">
                        펀딩 콘텐츠<span style="font-size: 16px; color: red">*</span>
                    </label>
                    <!-- Add a textarea for the Toast UI Editor -->
                    <div id="content"></div>
                </div>

                <button type="submit" class="btn btn-primary">작성 완료</button>
            </form>
        </div>
    </div>

</div>

<hr class="featurette-divider">
<!-- 다음 주소 API 스크립트 로드 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script type="text/javascript">
    // Handle  카테고리 버튼 클릭
    $(document).on('click', '.category-button', function () {
        // 모든 버튼에서 활성 클래스 제거
        $(".category-button").removeClass("active");
        // 클릭한 버튼에 활성 클래스 추가
        $(this).addClass("active");

        const categoryId = $(this).data('category-id');
        $('#category').val(categoryId);
    });

    // 주소 버튼 클릭 시 daum 주소 입력창 팝업 및 반환된 주소를 변수에 저장
    function openDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                console.log(data);
                // 주소를 임시로 저장
                tempAddress = data.address;
                $('#location').val(tempAddress);

                // 주소로 맵 표시
                displayMap(tempAddress);
            }
        }).open();
    }

    // map 로딩
    function displayMap(address) {
        // 주소를 구글 지도의 쿼리 문자열에 적용하여 iframe을 생성
        var mapInfoDiv = document.getElementById('map');
        var iframe = document.createElement('iframe');
        iframe.src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAUz7GpuLx5nbYqoVzrxl9RU6BgfAaex6I&q=" + address + "&region=KR&language=ko";
        iframe.style.width = "100%";
        iframe.style.height = "400px";
        mapInfoDiv.innerHTML = ''; // 기존의 내용을 제거
        mapInfoDiv.appendChild(iframe);
    }


    // 콘텐츠 내용 입력
    const Editor = toastui.Editor;
    // Initialize the Toast UI Editor
    const editor = new Editor({
        el: document.querySelector('#content'),
        height: '500px',
        previewStyle:"vertical",
        initialEditType:"wysiwyg",
        initialValue: "펀딩 내용을 입력해 주세요."
    });

    $(document).ready(function () {
        function validateCreateForm() {
            var projectTitle = $('#title').val();
            var projectSubtitle = $('#subtitle').val();
            var projectAmount = $('#amount').val();
            var projectGoalParticipants = $('#GoalParticipants').val();
            var projectMinParticipants = $('#MinParticipants').val();
            var projectMaxParticipants = $('#MaxParticipants').val();
            var location = $('#location').val(); // 선택항목

            if (projectTitle === '' || projectSubtitle === '' || projectAmount === '' || projectGoalParticipants === '' || projectMinParticipants === '' || projectMaxParticipants === '') {
                alert('필수 항목 필드를 입력하세요.');
                return false;
            }

            return true;
        }

        // 이미지를 base64로 인코딩
        function encodeImageAndSubmit(file) {
            return new Promise(function (resolve, reject) {
                /*var fileInput = document.getElementById(id);
                var file = fileInput.files[0];*/
                if (file) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        resolve(e.target.result); // 이미지 인코딩이 완료되면 Promise를 성공 상태로 해결
                    };

                    reader.readAsDataURL(file); // 파일을 base64로 변환
                } else {
                    reject("이미지 파일을 선택하세요."); // 이미지가 선택되지 않았을 때 Promise를 거부
                }
            });
        }

        // 컨텐트 내용을 base64로 인코딩
        function encodeContentAndSubmit() {
            return new Promise(function (resolve, reject) {
                var content = editor.getMarkdown(); // Editor에서 콘텐츠 가져오기
                var contentBlob = new Blob([content], { type: 'text/plain;charset=utf-8' }); // utf-8로 인코딩

                var reader = new FileReader();

                reader.onload = function (e) {
                    resolve(e.target.result); // 인코딩이 완료되면 Promise를 성공 상태로 해결
                };

                reader.readAsDataURL(contentBlob); // 콘텐츠를 base64로 변환
            });
        }

        // Markdown 또는 HTML 내용을 base64로 인코딩
        function encodeContentToBase64(content) {
            return new Promise(function (resolve, reject) {
                var contentBlob = new Blob([content], { type: 'text/plain' });

                var reader = new FileReader();

                reader.onload = function (e) {
                    resolve(e.target.result); // 인코딩이 완료되면 Promise를 성공 상태로 해결
                };

                reader.readAsDataURL(contentBlob); // 콘텐츠를 base64로 변환
            });
        }



        // 이미지 선택 시 미리보기
        $('#thumbnail').change(function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#previewImage').attr('src', e.target.result).show();
                };
                reader.readAsDataURL(file);
            }
        });

        <!--펀딩글 정보 서버 전송-->
        $('#createForm').submit(function (e){
            e.preventDefault(); // 폼 기본 동작 중지
            var requestData = {
                "title": $('#title').val(),
                "subtitle": $('#subtitle').val(),
                "category_id": $('#category').val(),
                "amount": $('#amount').val(),
                "deadline": $('#deadline').val(),
                "goal": $('#GoalParticipants').val(),
                "min_participants": $('#MinParticipants').val(),
                "max_participants": $('#MaxParticipants').val(),
            };


            var location = $('#location').val();
            if (location !== null) {
                requestData["location"] = location;
            } else {
                requestData["location"] = "";
            }

            console.log(requestData);

            if (validateCreateForm()) {
                // 이미지 선택
                var thumbnail = $('#thumbnail')[0].files[0];

                // 콘텐츠 인코딩 및 전송
                encodeContentAndSubmit()
                    .then(function (base64Content) {
                        requestData["content"] = base64Content;

                        // 썸네일 인코딩 및 전송
                        encodeImageAndSubmit(thumbnail)
                            .then(function (base64Image) {
                                requestData["thumbnail"] = base64Image;

                                $.ajax({
                                    type: 'GET',
                                    cache: false,
                                    url: "/login/cookie",
                                    dataType: "json",

                                    success: function (data) {
                                        var msg = data.message;
                                        var isSuccess = data.isSuccess;

                                        if (isSuccess === true) {
                                            var jwtToken = data.result;

                                            $.ajax({
                                                async: true,
                                                type: 'POST',
                                                /*data: formData,*/
                                                data: JSON.stringify(requestData),
                                                contentType: 'application/json',
                                                cache: false,
                                                url: "/funding/create",
                                                dataType: "json",
                                                beforeSend: function (xhr) {
                                                    // JWT 토큰을 헤더에 추가
                                                    xhr.setRequestHeader("Authorization", "Bearer " + jwtToken);
                                                },
                                                success: function (data) {
                                                    var msg = data.message;
                                                    var isSuccess = data.isSuccess;

                                                    if (isSuccess === true) {
                                                        console.log(data.result);
                                                        var funding_id = data.result.id;
                                                        window.location.href = "/fundingDetail?id="+funding_id;
                                                    } else {
                                                        alert(msg);
                                                    }
                                                },
                                                error: function (error) {
                                                    console.log(error);
                                                    alert("오류가 발생했습니다. 오류 메시지: " + error);
                                                }
                                            });
                                        }

                                        else {
                                            alert(msg);
                                        }

                                    },
                                    error: function (error) {
                                        console.log(error);
                                        alert("오류가 발생했습니다. 오류 메시지: " + error);
                                    }
                                });
                            })
                            .catch(function (error) {
                                alert(error);
                            });
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            }
        });

    });
</script>
</body>
</html>